{{ template "header.html" .}}

<h1>Analysis Results</h1>
<table border="1" cellpadding="1" cellspacing="1" style="width:100%;background-color:#cccccc;border-collapse:collapse;border:1px solid #ffcc00">
	<tbody>
		<tr>
			<td>String to be encoded passed:</td>
			<td>{{ .stringtoencode }}</td>
		</tr>
		<tr>
			<td>String encoded:</td>
			<td>{{.stringencoded}}</td>
		</tr>
		<tr>
			<td>String again decoded:</td>
			<td>{{.stringencodeddecoded}}</td>
		</tr>
                <tr>
			<td>Do they equal:</td>
			<td>{{.equaling}}</td>
		</tr>
                <tr>
			<td>Service Name:</td>
			<td>{{.sn}}</td>
		</tr>
                <tr>
                        <td>Version number:</td>
			<td>{{.vn}}</td>
		</tr>
                <tr>
                        <td>Application Specific:</td>
			<td>{{.va}}</td>
		</tr>
                <tr>
                        <td>Epoch:</td>
			<td>{{.epoch}}</td>
		</tr>
	</tbody>
</table>        

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}